<!DOCTYPE html>
<html>
<head>
  <%- include('../partials/header.ejs', data) -%>
</head>

<body>

<div class="jumbotron text-center">
  <div class="container">
    <img src="/price.jpg">
  </div>
</div>

</body>
</html>
